html {
  font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
  .is-size-6 {
    font-size: 0.8rem !important;
  }
}

.is-green {
  background: #D4E4D9;
}

.is-peach {
  background: #FFE0DA;
}

.is-peach-opacity {
  background: rgba(255, 224, 218, 0.75);
}

.is-gray {
  background: #d5d6d5;
}

.is-bluish {
  background: #E9F5F5;
}

.is-darkgray {
  background: #232323;
}

.is-white {
  background: #FFFFFF;
}

.is-lightblue {
  background: #e9f5f5;
}

.nuxt-link-exact-active {
  border-bottom: 2px solid #091540;
}

.is-underlined {
  border-bottom: 2px solid #091540;
}

.is-half {
  width: 50%;
}

.is-third {
  width: 33.33333%;
}

@keyframes opacityfadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein-on-load {
  opacity: 0;
  animation: 0.4s ease-in-out opacityfadein;
  animation-fill-mode: forwards;
}
